.borough-select {
    margin: 5px auto;
}

.select {
    height: 24px;
    margin: 0 0 0 10px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #707070;

}

.submit-button {
    width: 100px;
    height: 30px;
    font-size: 18px;
    color: #ffffff;
    background: #1485CC;
    border: 1px #1485CC;
    border-radius: 4px;
}

.submit-button:hover {
    cursor: pointer;
    color: #1485CC;
    background: #ffffff;
}