.borough-select {
    margin: 5px auto;
}

.select {
    height: 24px;
    margin: 0 0 0 10px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #707070;

}

.submit-button {
    padding: 3px 5px 3px 5px;
    margin: 0px 0 0 10px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #30408a;
    border-radius: 4px;
    background: #30408a;
}

.submit-button:hover {
    cursor: pointer;
    color: #30408a;
    background: #ffffff;
}