.buttons-wrapper {
    width: 100%;
    margin: 0 0 60px 0;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 100px;
    height: 40px;
    background: #1485CC;
    border: 1px #1485CC;
    border-radius: 4px;
    text-decoration: center;
    font-size: 20px;
    color: #FFFFFF;
}

.button:hover {
    cursor: pointer;
}