body {
    box-sizing: border-box;
    margin: 0;
}

.container {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #0a0a0a;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 60px max-content auto 30px;
    grid-template-areas:
    "h h h h h h h h h h"
    "s s s s s s s s s s"
    "c c c c c c c c c c"
    "f f f f f f f f f f";
}

.header {
    grid-area: h;
    background: #B21212;
    background-attachment: fixed;
    color: #ffffff;
    text-align: center;
}

.header h1 {
    margin: 10px 0 0 10px;
}

.content {
    grid-area: c;
    background-attachment: fixed;
    background-color: #ffffff;
}

.top-info-bar {
    grid-area: s;
    color: #0a0a0a;
    background-color: #FFFC19;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0 0 0 10px;
    grid-area: f;
    background: #2b2b2b;
    color: #ffffff;
}

.info-pane {
    width: 640px;
    margin: 0 auto;
}

.selectors-wrapper {
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    font-size: 20px;
}

.url {
    text-decoration: none;
    color: #ffffff;
}