body {
        font-family: 'Roboto', sans-serif;
}

.info-pane {
    width: 640px;
    margin: 0 auto;
}

.selectors-wrapper {
    width: 640px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 10px auto;
    border: 1px solid #363636;
}

.selector-zip {}

.selector-borough {}