.incident {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 10px 0;
    margin: 10px 0 20px 0;
    border: 2px solid #30408a;
    border-radius: 6px;
    background: #ecf0ff;
}

.incident-hurt {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 10px 0;
    margin: 10px 0 20px 0;
    border: 2px solid #b60000;
    border-radius: 6px;
    background: #ffe2e2;
}

.hurt {
    color: #b60000;
    font-weight: 800;
    text-decoration: underline;
}

.text-summary {
    width: 100%;
    text-align: center;
    padding: 0 10px;
}