.incident {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 10px 0;
    margin: 10px 0 20px 0;
    border: 1px solid #707070;
    box-shadow: 5px 5px 5px 0px rgba(230,230,230,.75);
}

.hurt {
    color: #b60000;
    font-weight: 800;
    text-decoration: underline;
}

.text-summary {
    width: 100%;
    text-align: center;
    padding: 0 10px;
}

.incident {
    background: #ffffff;
}